In [1]:
import numpy as np
import pandas as pd
from pymongo import MongoClient

In [61]:
def leer_csv_tse(path):
    df = pd.read_csv(path,  sep=',', header=4, index_col=0)
    df = df.drop(columns=['OBSERVACIONES', 'CÓDIGO_INTEGRIDAD', 'FECHA_HORA_PUBLICACIÓN', 'DIGITALIZACIÓN', 'ID_DEPARTAMENTO', 'ID_MUNICIPIO', 'PADRÓN'])
    return df

In [64]:
def llenar_nans(data):
    return data.applymap(lambda l: l if not pd.isna(l) else np.random.choice(100))

def solo_contabilizadas(df):
    return df[df['CONTABILIZADA'] == 1]

In [84]:
data_distrital = solo_contabilizadas(leer_csv_tse('csv-pruebas\gtm2023_e3d03.csv'))
data_distrital

,DEPARTAMENTO,MUNICIPIO,CENTRO_DE_VOTACIÓN,TODOS,UNIONISTA,CABAL,AZUL,URNG-MAIZ WINAQ,VAMOS,PHG,...,EMITIDOS,INVÁLIDOS,TOTAL,IMPUGNACIONES,PAPELETAS-RECIBIDAS,PAPELETAS-NO-USADAS,VALIDOS_CALCULADO,EMITIDOS_CALCULADO,TOTAL_CALCULADO,CONTABILIZADA
MESA,,,,,,,,,,,,,,,,,,,,,
5888,Chimaltenango,Chimaltenango,619,8.0,5.0,7.0,8,15.0,19.0,3,...,264.0,0,264,--,--,--,212.0,264.0,264.0,1
5889,Chimaltenango,Chimaltenango,619,7.0,1.0,19.0,13,11.0,13.0,6,...,238.0,0,238,--,400,162,204.0,238.0,238.0,1
5891,Chimaltenango,Chimaltenango,619,7.0,4.0,14.0,13,10.0,15.0,3,...,244.0,0,244,--,400,156,196.0,244.0,244.0,1
5892,Chimaltenango,Chimaltenango,620,6.0,3.0,10.0,12,8.0,16.0,3,...,260.0,0,260,0,400,140,232.0,260.0,260.0,1
5894,Chimaltenango,Chimaltenango,620,6.0,3.0,6.0,4,6.0,8.0,1,...,130.0,0,130,--,257,127,117.0,130.0,130.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6799,Chimaltenango,El Tejar,734,5.0,6.0,29.0,0,6.0,36.0,1,...,261.0,0,261,--,380,119,188.0,261.0,261.0,1
6805,Chimaltenango,El Tejar,734,1.0,3.0,44.0,4,8.0,30.0,1,...,223.0,0,223,--,380,158,183.0,223.0,223.0,1
6806,Chimaltenango,El Tejar,735,1.0,1.0,56.0,2,7.0,35.0,5,...,258.0,0,258,--,380,122,215.0,258.0,258.0,1
6807,Chimaltenango,El Tejar,735,1.0,4.0,53.0,1,1.0,35.0,0,...,190.0,0,190,--,290,100,167.0,190.0,190.0,1
6808,Chimaltenango,El Tejar,735,2.0,1.0,40.0,5,3.0,29.0,0,...,179.0,0,179,--,289,110,143.0,179.0,179.0,1

In [66]:
data_presidencial = solo_contabilizadas(leer_csv_tse('csv-pruebas\presidencial.csv'))
data_presidencial

,DEPARTAMENTO,MUNICIPIO,CENTRO_DE_VOTACIÓN,UNE,AZUL,VALOR UNIONISTA,CABAL,TODOS,VAMOS,PHG,...,INVÁLIDOS,TOTAL,IMPUGNACIONES,PAPELETAS-RECIBIDAS,PAPELETAS-NO-USADAS,PRES-VOTAR,VALIDOS_CALCULADO,EMITIDOS_CALCULADO,TOTAL_CALCULADO,CONTABILIZADA
MESA,,,,,,,,,,,,,,,,,,,,,
11,Distrito Central,Guatemala,2,12,5,35,22,0,6,1,...,0,270,--,401,131,270,252.0,270.0,270.0,1
22,Distrito Central,Guatemala,3,20,3,32,35,1,4,0,...,0,276,--,400,124,124,251.0,276.0,276.0,1
32,Distrito Central,Guatemala,3,17,9,34,14,0,1,0,...,158,400,--,400,158,242,212.0,242.0,400.0,1
37,Distrito Central,Guatemala,4,10,2,34,26,0,5,0,...,--,265,0,403,138,265,242.0,265.0,265.0,1
39,Distrito Central,Guatemala,4,9,4,40,16,1,3,0,...,0,228,--,400,172,228,203.0,228.0,228.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24581,Guatemaltecos en Estados Unidos,"CHICAGO, ILLINOIS",3851,0,1,1,0,0,0,0,...,0,9,--,600,591,9,7.0,9.0,9.0,1
24582,Guatemaltecos en Estados Unidos,"CHICAGO, ILLINOIS",3851,0,0,0,1,0,0,0,...,0,3,0,522,519,3,2.0,3.0,3.0,1
24583,Guatemaltecos en Estados Unidos,"CHICAGO, ILLINOIS",3851,2,1,5,6,0,1,0,...,0,41,--,521,480,41,26.0,41.0,41.0,1
24584,Guatemaltecos en Estados Unidos,"HENDERSON, NEVADA",3852,--,--,2,3,--,--,--,...,0,8,--,425,417,--,6.0,8.0,8.0,1
24585,Guatemaltecos en Estados Unidos,"HENDERSON, NEVADA",3852,--,--,2,1,--,1,--,...,--,--,--,425,418,7,5.0,7.0,7.0,1

In [85]:
client = MongoClient("mongodb://localhost:27017/")
db = client["local"]
presidencial = db["mesas-presidencial"]
distrital = db["mesas-distrital"]

In [32]:
def convertir_a_mongo_docs(data):
    data_dict = data.transpose().to_dict()
    for mesa in data_dict:
       data_dict[mesa]['mesa'] = mesa
    return list(data_dict.values())

In [67]:
presidencial.insert_many(convertir_a_mongo_docs(data_presidencial))

In [86]:
distrital.insert_many(convertir_a_mongo_docs(data_distrital))

In [90]:
def leer_excel_digitadores(path):
    xlsx = pd.ExcelFile(path)
    hojas_mesas = xlsx.sheet_names[1:-1]
    xlsx = pd.read_excel(path, header=5, index_col=1, sheet_name=hojas_mesas)
    dataframes = []
    for hoja in xlsx:
        df = xlsx[hoja]
        df = df.drop(df.columns[0], axis=1).transpose()
        nan_header_column_index = df.columns.tolist().index(np.nan)
        df = df.iloc[:, :nan_header_column_index]
        if not df.empty:
            dataframes.append(df)
    return dataframes    
    
leer_excel_digitadores('excel-pruebas\Pruebas-AV.xlsx')[0]#[0].iloc[0].to_dict()

Partidos  UNE VAMOS  MLP En Blanco Nulos Total Validos
18613     100    20  200       NaN   NaN   NaN     NaN
18614     200    30  300       NaN   NaN   NaN     NaN
18615     NaN   NaN  NaN       NaN   NaN   NaN     NaN
18616      10    20   39       NaN   NaN   NaN     NaN
18617     NaN   NaN  NaN       NaN   NaN   NaN     NaN
...       ...   ...  ...       ...   ...   ...     ...
18904     NaN   NaN  NaN       NaN   NaN   NaN     NaN
18905     NaN   NaN  NaN       NaN   NaN   NaN     NaN
18906     NaN   NaN  NaN       NaN   NaN   NaN     NaN
18907     NaN   NaN  NaN       NaN   NaN   NaN     NaN
18908     NaN   NaN  NaN       NaN   NaN   NaN     NaN

[296 rows x 7 columns]

In [151]:

def find_mesas(mesa_inicio, mesa_fin, collection):
    query = {"mesa": {"$gte": mesa_inicio, "$lte": mesa_fin}}    
    result = {}
    for datos_mesa in collection.find(query):
        result[datos_mesa['mesa']]=datos_mesa
    return result

def comparar_archivo(path, mongo_collection):
    for df_excel in leer_excel_digitadores(path):
        mesa_inicio = df_excel.iloc[0].name
        mesa_fin = df_excel.iloc[-1].name
        datos_mesas_db = find_mesas(mesa_inicio, mesa_fin, collection)
        for no_mesa,mesa_excel in df_excel.iterrows():
            if no_mesa in datos_mesas_db:
                mesa_db = datos_mesas_db[no_mesa]
                for col in mesa_excel.keys():
                    if col in mesa_db:
                        if  not np.isnan(mesa_excel[col]) and int(mesa_db[col]) != int(mesa_excel[col]):
                            print(f'diferencia en mesa {no_mesa}: valor de {col} es {mesa_db[col]} en TSE y {mesa_excel[col]} en datos fiscal')
                    else:
                        #print('missing col', col)
                        pass
            

comparar_archivo('excel-pruebas\Chimaltenango.xlsx', distrital)

diferencia en mesa 6771: valor de TOTAL es 280 en TSE y 279.0 en datos fiscal
diferencia en mesa 6806: valor de SEMILLA es 46.0 en TSE y 6.0 en datos fiscal

In [116]:
collection = distrital
mesa_inicio = 6608
mesa_fin = 6658
query = {"mesa": {"$gte": mesa_inicio, "$lte": mesa_fin}}
for datos_mesa in collection.find(query):
    remover = ['TOTAL_CALCULADO', 'VALIDOS_CALCULADO', 'INVÁLIDOS','PAPELETAS-RECIBIDAS', 'EMITIDOS', 'PAPELETAS-NO-USADAS', 'PRES-VOTAR', 'EMITIDOS_CALCULADO', '_id',  'CENTRO_DE_VOTACIÓN', 'DEPARTAMENTO', 'mesa',  'CONTABILIZADA', 'IMPUGNACIONES']
    columnas_a_comparar = [x for x in set(datos_mesa.keys()) if x not in remover] 
    print(datos_mesa.keys())
 

mesa_inicio = 6731
mesa_fin = 6768
query = {"mesa": {"$gte": mesa_inicio, "$lte": mesa_fin}}
for datos_mesa in collection.find(query):
    remover = ['TOTAL_CALCULADO', 'VALIDOS_CALCULADO', 'INVÁLIDOS','PAPELETAS-RECIBIDAS', 'EMITIDOS', 'PAPELETAS-NO-USADAS', 'PRES-VOTAR', 'EMITIDOS_CALCULADO', '_id',  'CENTRO_DE_VOTACIÓN', 'DEPARTAMENTO', 'mesa',  'CONTABILIZADA', 'IMPUGNACIONES']
    columnas_a_comparar = [x for x in set(datos_mesa.keys()) if x not in remover] 
    print(datos_mesa)

dict_keys(['_id', 'DEPARTAMENTO', 'MUNICIPIO', 'CENTRO_DE_VOTACIÓN', 'TODOS', 'UNIONISTA', 'CABAL', 'AZUL', 'URNG-MAIZ WINAQ', 'VAMOS', 'PHG', 'VICTORIA', 'MLP', 'PR', 'P A N', 'UR', 'PIN', 'BIEN', 'VALOR', 'UNE', 'PPN', 'FCN-NACION', 'VIVA', 'ELEFANTE', 'CREO', 'CAMBIO', 'PODEMOS', 'MI FAMILIA', 'SEMILLA', 'VOS', 'VÁLIDOS', 'NULOS', 'BLANCO', 'EMITIDOS', 'INVÁLIDOS', 'TOTAL', 'IMPUGNACIONES', 'PAPELETAS-RECIBIDAS', 'PAPELETAS-NO-USADAS', 'VALIDOS_CALCULADO', 'EMITIDOS_CALCULADO', 'TOTAL_CALCULADO', 'CONTABILIZADA', 'mesa'])
dict_keys(['_id', 'DEPARTAMENTO', 'MUNICIPIO', 'CENTRO_DE_VOTACIÓN', 'TODOS', 'UNIONISTA', 'CABAL', 'AZUL', 'URNG-MAIZ WINAQ', 'VAMOS', 'PHG', 'VICTORIA', 'MLP', 'PR', 'P A N', 'UR', 'PIN', 'BIEN', 'VALOR', 'UNE', 'PPN', 'FCN-NACION', 'VIVA', 'ELEFANTE', 'CREO', 'CAMBIO', 'PODEMOS', 'MI FAMILIA', 'SEMILLA', 'VOS', 'VÁLIDOS', 'NULOS', 'BLANCO', 'EMITIDOS', 'INVÁLIDOS', 'TOTAL', 'IMPUGNACIONES', 'PAPELETAS-RECIBIDAS', 'PAPELETAS-NO-USADAS', 'VALIDOS_CALCULADO', 'EMITIDOS_CALCULADO', 'TOTAL_CALCULADO', 'CONTABILIZADA', 'mesa'])
dict_keys(['_id', 'DEPARTAMENTO', 'MUNICIPIO', 'CENTRO_DE_VOTACIÓN', 'TODOS', 'UNIONISTA', 'CABAL', 'AZUL', 'URNG-MAIZ WINAQ', 'VAMOS', 'PHG', 'VICTORIA', 'MLP', 'PR', 'P A N', 'UR', 'PIN', 'BIEN', 'VALOR', 'UNE', 'PPN', 'FCN-NACION', 'VIVA', 'ELEFANTE', 'CREO', 'CAMBIO', 'PODEMOS', 'MI FAMILIA', 'SEMILLA', 'VOS', 'VÁLIDOS', 'NULOS', 'BLANCO', 'EMITIDOS', 'INVÁLIDOS', 'TOTAL', 'IMPUGNACIONES', 'PAPELETAS-RECIBIDAS', 'PAPELETAS-NO-USADAS', 'VALIDOS_CALCULADO', 'EMITIDOS_CALCULADO', 'TOTAL_CALCULADO', 'CONTABILIZADA', 'mesa'])
dict_keys(['_id', 'DEPARTAMENTO', 'MUNICIPIO', 'CENTRO_DE_VOTACIÓN', 'TODOS', 'UNIONISTA', 'CABAL', 'AZUL', 'URNG-MAIZ WINAQ', 'VAMOS', 'PHG', 'VICTORIA', 'MLP', 'PR', 'P A N', 'UR', 'PIN', 'BIEN', 'VALOR', 'UNE', 'PPN', 'FCN-NACION', 'VIVA', 'ELEFANTE', 'CREO', 'CAMBIO', 'PODEMOS', 'MI FAMILIA', 'SEMILLA', 'VOS', 'VÁLIDOS', 'NULOS', 'BLANCO', 'EMITIDOS', 'INVÁLIDOS', 'TOTAL', 'IMPUGNACIONES', 'PAPELETAS-RECIBIDAS', 'PAPELETAS-NO-USADAS', 'VALIDOS_CALCULADO', 'EMITIDOS_CALCULADO', 'TOTAL_CALCULADO', 'CONTABILIZADA', 'mesa'])
dict_keys(['_id', 'DEPARTAMENTO', 'MUNICIPIO', 'CENTRO_DE_VOTACIÓN', 'TODOS', 'UNIONISTA', 'CABAL', 'AZUL', 'URNG-MAIZ WINAQ', 'VAMOS', 'PHG', 'VICTORIA', 'MLP', 'PR', 'P A N', 'UR', 'PIN', 'BIEN', 'VALOR', 'UNE', 'PPN', 'FCN-NACION', 'VIVA', 'ELEFANTE', 'CREO', 'CAMBIO', 'PODEMOS', 'MI FAMILIA', 'SEMILLA', 'VOS', 'VÁLIDOS', 'NULOS', 'BLANCO', 'EMITIDOS', 'INVÁLIDOS', 'TOTAL', 'IMPUGNACIONES', 'PAPELETAS-RECIBIDAS', 'PAPELETAS-NO-USADAS', 'VALIDOS_CALCULADO', 'EMITIDOS_CALCULADO', 'TOTAL_CALCULADO', 'CONTABILIZADA', 'mesa'])
{'_id': ObjectId('6499326c2489dc5ec96c2d10'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 723, 'TODOS': 1.0, 'UNIONISTA': 8.0, 'CABAL': 25.0, 'AZUL': '5', 'URNG-MAIZ WINAQ': 5.0, 'VAMOS': 12.0, 'PHG': '4', 'VICTORIA': '0', 'MLP': 3.0, 'PR': '0', 'P A N': 2.0, 'UR': '3', 'PIN': '0', 'BIEN': '1', 'VALOR': 28.0, 'UNE': 34.0, 'PPN': 8.0, 'FCN-NACION': '1', 'VIVA': 18.0, 'ELEFANTE': 5.0, 'CREO': '1', 'CAMBIO': '13', 'PODEMOS': 5.0, 'MI FAMILIA': 4.0, 'SEMILLA': 6.0, 'VOS': 11.0, 'VÁLIDOS': 203.0, 'NULOS': 41.0, 'BLANCO': 14.0, 'EMITIDOS': 258.0, 'INVÁLIDOS': '0', 'TOTAL': '258', 'IMPUGNACIONES': '0', 'PAPELETAS-RECIBIDAS': '0', 'PAPELETAS-NO-USADAS': '0', 'VALIDOS_CALCULADO': 203.0, 'EMITIDOS_CALCULADO': 258.0, 'TOTAL_CALCULADO': 258.0, 'CONTABILIZADA': 1, 'mesa': 6736}
{'_id': ObjectId('6499326c2489dc5ec96c2d11'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 723, 'TODOS': 2.0, 'UNIONISTA': 20.0, 'CABAL': 21.0, 'AZUL': '5', 'URNG-MAIZ WINAQ': 7.0, 'VAMOS': 14.0, 'PHG': '3', 'VICTORIA': '6', 'MLP': 2.0, 'PR': '0', 'P A N': 1.0, 'UR': '3', 'PIN': '4', 'BIEN': '2', 'VALOR': 33.0, 'UNE': 17.0, 'PPN': 11.0, 'FCN-NACION': '8', 'VIVA': 27.0, 'ELEFANTE': 6.0, 'CREO': '3', 'CAMBIO': '14', 'PODEMOS': 8.0, 'MI FAMILIA': 3.0, 'SEMILLA': 8.0, 'VOS': 5.0, 'VÁLIDOS': 233.0, 'NULOS': 49.0, 'BLANCO': 14.0, 'EMITIDOS': 296.0, 'INVÁLIDOS': '0', 'TOTAL': '296', 'IMPUGNACIONES': '0', 'PAPELETAS-RECIBIDAS': '400', 'PAPELETAS-NO-USADAS': '104', 'VALIDOS_CALCULADO': 233.0, 'EMITIDOS_CALCULADO': 296.0, 'TOTAL_CALCULADO': 296.0, 'CONTABILIZADA': 1, 'mesa': 6738}
{'_id': ObjectId('6499326c2489dc5ec96c2d12'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 724, 'TODOS': 2.0, 'UNIONISTA': 20.0, 'CABAL': 22.0, 'AZUL': '5', 'URNG-MAIZ WINAQ': 3.0, 'VAMOS': 22.0, 'PHG': '2', 'VICTORIA': '7', 'MLP': 7.0, 'PR': '0', 'P A N': 3.0, 'UR': '1', 'PIN': '2', 'BIEN': '1', 'VALOR': 20.0, 'UNE': 28.0, 'PPN': 8.0, 'FCN-NACION': '1', 'VIVA': 13.0, 'ELEFANTE': 9.0, 'CREO': '1', 'CAMBIO': '16', 'PODEMOS': 6.0, 'MI FAMILIA': 0.0, 'SEMILLA': 8.0, 'VOS': 11.0, 'VÁLIDOS': 218.0, 'NULOS': 33.0, 'BLANCO': 24.0, 'EMITIDOS': 275.0, 'INVÁLIDOS': '0', 'TOTAL': '275', 'IMPUGNACIONES': '0', 'PAPELETAS-RECIBIDAS': '--', 'PAPELETAS-NO-USADAS': '--', 'VALIDOS_CALCULADO': 218.0, 'EMITIDOS_CALCULADO': 275.0, 'TOTAL_CALCULADO': 275.0, 'CONTABILIZADA': 1, 'mesa': 6740}
{'_id': ObjectId('6499326c2489dc5ec96c2d13'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 724, 'TODOS': 2.0, 'UNIONISTA': 9.0, 'CABAL': 26.0, 'AZUL': '2', 'URNG-MAIZ WINAQ': 5.0, 'VAMOS': 16.0, 'PHG': '1', 'VICTORIA': '2', 'MLP': 3.0, 'PR': '1', 'P A N': 2.0, 'UR': '1', 'PIN': '1', 'BIEN': '0', 'VALOR': 26.0, 'UNE': 25.0, 'PPN': 11.0, 'FCN-NACION': '0', 'VIVA': 24.0, 'ELEFANTE': 0.0, 'CREO': '0', 'CAMBIO': '26', 'PODEMOS': 4.0, 'MI FAMILIA': 5.0, 'SEMILLA': 15.0, 'VOS': 5.0, 'VÁLIDOS': 212.0, 'NULOS': 31.0, 'BLANCO': 20.0, 'EMITIDOS': 263.0, 'INVÁLIDOS': '51', 'TOTAL': '263', 'IMPUGNACIONES': '0', 'PAPELETAS-RECIBIDAS': '400', 'PAPELETAS-NO-USADAS': '137', 'VALIDOS_CALCULADO': 212.0, 'EMITIDOS_CALCULADO': 263.0, 'TOTAL_CALCULADO': 314.0, 'CONTABILIZADA': 1, 'mesa': 6743}
{'_id': ObjectId('6499326c2489dc5ec96c2d14'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 724, 'TODOS': 4.0, 'UNIONISTA': 9.0, 'CABAL': 17.0, 'AZUL': '3', 'URNG-MAIZ WINAQ': 10.0, 'VAMOS': 11.0, 'PHG': '1', 'VICTORIA': '4', 'MLP': 4.0, 'PR': '0', 'P A N': 0.0, 'UR': '2', 'PIN': '3', 'BIEN': '4', 'VALOR': 18.0, 'UNE': 26.0, 'PPN': 7.0, 'FCN-NACION': '3', 'VIVA': 19.0, 'ELEFANTE': 3.0, 'CREO': '1', 'CAMBIO': '20', 'PODEMOS': 9.0, 'MI FAMILIA': 2.0, 'SEMILLA': 15.0, 'VOS': 12.0, 'VÁLIDOS': 207.0, 'NULOS': 30.0, 'BLANCO': 15.0, 'EMITIDOS': 252.0, 'INVÁLIDOS': '0', 'TOTAL': '252', 'IMPUGNACIONES': '0', 'PAPELETAS-RECIBIDAS': '400', 'PAPELETAS-NO-USADAS': '148', 'VALIDOS_CALCULADO': 207.0, 'EMITIDOS_CALCULADO': 252.0, 'TOTAL_CALCULADO': 252.0, 'CONTABILIZADA': 1, 'mesa': 6744}
{'_id': ObjectId('6499326c2489dc5ec96c2d15'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 725, 'TODOS': 5.0, 'UNIONISTA': 12.0, 'CABAL': 19.0, 'AZUL': '7', 'URNG-MAIZ WINAQ': 13.0, 'VAMOS': 11.0, 'PHG': '1', 'VICTORIA': '3', 'MLP': 3.0, 'PR': '2', 'P A N': 2.0, 'UR': '0', 'PIN': '1', 'BIEN': '2', 'VALOR': 22.0, 'UNE': 28.0, 'PPN': 4.0, 'FCN-NACION': '1', 'VIVA': 25.0, 'ELEFANTE': 6.0, 'CREO': '0', 'CAMBIO': '16', 'PODEMOS': 6.0, 'MI FAMILIA': 3.0, 'SEMILLA': 18.0, 'VOS': 9.0, 'VÁLIDOS': 219.0, 'NULOS': 39.0, 'BLANCO': 15.0, 'EMITIDOS': 273.0, 'INVÁLIDOS': '0', 'TOTAL': '273', 'IMPUGNACIONES': '0', 'PAPELETAS-RECIBIDAS': '--', 'PAPELETAS-NO-USADAS': '--', 'VALIDOS_CALCULADO': 219.0, 'EMITIDOS_CALCULADO': 273.0, 'TOTAL_CALCULADO': 273.0, 'CONTABILIZADA': 1, 'mesa': 6746}
{'_id': ObjectId('6499326c2489dc5ec96c2d16'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 725, 'TODOS': 1.0, 'UNIONISTA': 14.0, 'CABAL': 22.0, 'AZUL': '1', 'URNG-MAIZ WINAQ': 6.0, 'VAMOS': 8.0, 'PHG': '0', 'VICTORIA': '4', 'MLP': 3.0, 'PR': '1', 'P A N': 1.0, 'UR': '1', 'PIN': '0', 'BIEN': '4', 'VALOR': 22.0, 'UNE': 30.0, 'PPN': 10.0, 'FCN-NACION': '3', 'VIVA': 19.0, 'ELEFANTE': 5.0, 'CREO': '4', 'CAMBIO': '17', 'PODEMOS': 9.0, 'MI FAMILIA': 3.0, 'SEMILLA': 17.0, 'VOS': 7.0, 'VÁLIDOS': 212.0, 'NULOS': 37.0, 'BLANCO': 17.0, 'EMITIDOS': 266.0, 'INVÁLIDOS': '0', 'TOTAL': '266', 'IMPUGNACIONES': '0', 'PAPELETAS-RECIBIDAS': '400', 'PAPELETAS-NO-USADAS': '134', 'VALIDOS_CALCULADO': 212.0, 'EMITIDOS_CALCULADO': 266.0, 'TOTAL_CALCULADO': 266.0, 'CONTABILIZADA': 1, 'mesa': 6749}
{'_id': ObjectId('6499326c2489dc5ec96c2d17'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 725, 'TODOS': 1.0, 'UNIONISTA': 16.0, 'CABAL': 21.0, 'AZUL': '3', 'URNG-MAIZ WINAQ': 10.0, 'VAMOS': 10.0, 'PHG': '2', 'VICTORIA': '3', 'MLP': 2.0, 'PR': '0', 'P A N': 0.0, 'UR': '0', 'PIN': '1', 'BIEN': '2', 'VALOR': 21.0, 'UNE': 30.0, 'PPN': 2.0, 'FCN-NACION': '0', 'VIVA': 16.0, 'ELEFANTE': 3.0, 'CREO': '0', 'CAMBIO': '14', 'PODEMOS': 10.0, 'MI FAMILIA': 2.0, 'SEMILLA': 19.0, 'VOS': 12.0, 'VÁLIDOS': 200.0, 'NULOS': 33.0, 'BLANCO': 19.0, 'EMITIDOS': 252.0, 'INVÁLIDOS': '0', 'TOTAL': '252', 'IMPUGNACIONES': '0', 'PAPELETAS-RECIBIDAS': '401', 'PAPELETAS-NO-USADAS': '149', 'VALIDOS_CALCULADO': 200.0, 'EMITIDOS_CALCULADO': 252.0, 'TOTAL_CALCULADO': 252.0, 'CONTABILIZADA': 1, 'mesa': 6750}
{'_id': ObjectId('6499326c2489dc5ec96c2d18'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 726, 'TODOS': 0.0, 'UNIONISTA': 5.0, 'CABAL': 2.0, 'AZUL': '1', 'URNG-MAIZ WINAQ': 11.0, 'VAMOS': 3.0, 'PHG': '0', 'VICTORIA': '3', 'MLP': 0.0, 'PR': '1', 'P A N': 0.0, 'UR': '0', 'PIN': '0', 'BIEN': '0', 'VALOR': 16.0, 'UNE': 13.0, 'PPN': 3.0, 'FCN-NACION': '0', 'VIVA': 8.0, 'ELEFANTE': 0.0, 'CREO': '0', 'CAMBIO': '15', 'PODEMOS': 3.0, 'MI FAMILIA': 0.0, 'SEMILLA': 12.0, 'VOS': 3.0, 'VÁLIDOS': 99.0, 'NULOS': 17.0, 'BLANCO': 3.0, 'EMITIDOS': 119.0, 'INVÁLIDOS': '0', 'TOTAL': '119', 'IMPUGNACIONES': '--', 'PAPELETAS-RECIBIDAS': '221', 'PAPELETAS-NO-USADAS': '102', 'VALIDOS_CALCULADO': 99.0, 'EMITIDOS_CALCULADO': 119.0, 'TOTAL_CALCULADO': 119.0, 'CONTABILIZADA': 1, 'mesa': 6756}
{'_id': ObjectId('6499326c2489dc5ec96c2d19'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 726, 'TODOS': 1.0, 'UNIONISTA': 4.0, 'CABAL': 6.0, 'AZUL': '0', 'URNG-MAIZ WINAQ': 3.0, 'VAMOS': 5.0, 'PHG': '0', 'VICTORIA': '2', 'MLP': 1.0, 'PR': '0', 'P A N': 0.0, 'UR': '0', 'PIN': '2', 'BIEN': '0', 'VALOR': 10.0, 'UNE': 13.0, 'PPN': 2.0, 'FCN-NACION': '0', 'VIVA': 5.0, 'ELEFANTE': 1.0, 'CREO': '0', 'CAMBIO': '9', 'PODEMOS': 1.0, 'MI FAMILIA': 3.0, 'SEMILLA': 6.0, 'VOS': 3.0, 'VÁLIDOS': 77.0, 'NULOS': 18.0, 'BLANCO': 10.0, 'EMITIDOS': 105.0, 'INVÁLIDOS': '0', 'TOTAL': '105', 'IMPUGNACIONES': '0', 'PAPELETAS-RECIBIDAS': '220', 'PAPELETAS-NO-USADAS': '115', 'VALIDOS_CALCULADO': 77.0, 'EMITIDOS_CALCULADO': 105.0, 'TOTAL_CALCULADO': 105.0, 'CONTABILIZADA': 1, 'mesa': 6757}
{'_id': ObjectId('6499326c2489dc5ec96c2d1a'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 727, 'TODOS': 0.0, 'UNIONISTA': 8.0, 'CABAL': 25.0, 'AZUL': '0', 'URNG-MAIZ WINAQ': 0.0, 'VAMOS': 84.0, 'PHG': '0', 'VICTORIA': '3', 'MLP': 4.0, 'PR': '0', 'P A N': 1.0, 'UR': '0', 'PIN': '0', 'BIEN': '0', 'VALOR': 29.0, 'UNE': 10.0, 'PPN': 8.0, 'FCN-NACION': '0', 'VIVA': 8.0, 'ELEFANTE': 0.0, 'CREO': '1', 'CAMBIO': '8', 'PODEMOS': 2.0, 'MI FAMILIA': 0.0, 'SEMILLA': 2.0, 'VOS': 3.0, 'VÁLIDOS': 196.0, 'NULOS': 28.0, 'BLANCO': 28.0, 'EMITIDOS': 252.0, 'INVÁLIDOS': '0', 'TOTAL': '252', 'IMPUGNACIONES': '--', 'PAPELETAS-RECIBIDAS': '381', 'PAPELETAS-NO-USADAS': '129', 'VALIDOS_CALCULADO': 196.0, 'EMITIDOS_CALCULADO': 252.0, 'TOTAL_CALCULADO': 252.0, 'CONTABILIZADA': 1, 'mesa': 6758}
{'_id': ObjectId('6499326c2489dc5ec96c2d1b'), 'DEPARTAMENTO': 'Chimaltenango', 'MUNICIPIO': 'Zaragoza', 'CENTRO_DE_VOTACIÓN': 727, 'TODOS': 1.0, 'UNIONISTA': 3.0, 'CABAL': 21.0, 'AZUL': '1', 'URNG-MAIZ WINAQ': 3.0, 'VAMOS': 83.0, 'PHG': '0', 'VICTORIA': '2', 'MLP': 2.0, 'PR': '0', 'P A N': 0.0, 'UR': '0', 'PIN': '1', 'BIEN': '2', 'VALOR': 34.0, 'UNE': 5.0, 'PPN': 3.0, 'FCN-NACION': '3', 'VIVA': 15.0, 'ELEFANTE': 2.0, 'CREO': '0', 'CAMBIO': '5', 'PODEMOS': 5.0, 'MI FAMILIA': 0.0, 'SEMILLA': 3.0, 'VOS': 5.0, 'VÁLIDOS': 199.0, 'NULOS': 14.0, 'BLANCO': 23.0, 'EMITIDOS': 236.0, 'INVÁLIDOS': '0', 'TOTAL': '236', 'IMPUGNACIONES': '--', 'PAPELETAS-RECIBIDAS': '376', 'PAPELETAS-NO-USADAS': '140', 'VALIDOS_CALCULADO': 199.0, 'EMITIDOS_CALCULADO': 236.0, 'TOTAL_CALCULADO': 236.0, 'CONTABILIZADA': 1, 'mesa': 6759}